<h1>Editing Membership for <%= @membership.user.email %> of <%= @organisation.name %> </h1>


<%= simple_form_for([@organisation, @membership]) do |f| %>
    <% if @membership.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

          <ul>
            <% @membership.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">

      <%= f.association :role, collection: @organisation.roles, include_blank: false %>

      <%= error_span(@membership[:email]) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



<%= link_to 'Show', organisation_membership_path(@organisation, @membership) %>
<%= link_to 'Back', organisation_memberships_path(@organisation) %>
